
body {
  font-size: 19px;
  color: azure;
}

/* default SVG maximum height */
object[type="image/svg+xml"] {
  max-height: 300px;
  width: 100%;
}

.pages-toc ul { 
  list-style: none;
}

.pages-toc > ul > li > a {
  font-weight: bold;
}

/* prismjs sets 0.3em and then we get unnecessary horizontal slider. This fixes it. */
pre[class*="language-"] {
  border-width: 0.3rem !important;
}

/* anchor offset when clicking it :) https://stackoverflow.com/a/22655654/4496364 */
:target:before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0;
}

/* MermaidJs stuff */
.mermaid .label {
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.edgeLabel:not(:empty) {
  padding: 3px;
}
