
body {
  font-size: 19px;
  color: azure;
}

/* default SVG maximum height */
object[type="image/svg+xml"] {
  max-height: 300px;
  width: 100%;
}

.pages-toc ul { 
  list-style: none;
}

.pages-toc > ul > li > a {
  font-weight: bold;
}

/* prismjs sets 0.3em and then we get unnecessary horizontal slider. This fixes it. */
pre[class*="language-"] {
  border-width: 0.3rem !important;
}

/* 
  printing issue with PDF
  https://drupal.stackexchange.com/questions/59900/how-to-get-rid-of-added-urls-when-printing-a-bootstrap-themed-page 
*/
@media print {
  a[href]:after {
    content: none;
  }
}