
@media print {
    /* use smaller font */
    body {
        font-size: 16px;
    }
    
    /* Bootstrap, hide link in parens */
    /* https://drupal.stackexchange.com/questions/59900/how-to-get-rid-of-added-urls-when-printing-a-bootstrap-themed-page */
    a[href]:after {
        content: none;
    }
    a {
        text-decoration: underline;
    }

    /* Remove border around images */
    .thumbnail {
        border: 0 none;
    }

    /* PrismJS hide copy button and language */
    .toolbar {
        display: none;
    }
    
    /* KaTeX math */
    /* hide HTML, show MathML when printing */
    .katex-html {
        display: none !important;
    }
    .katex-mathml {
        position: relative !important;
    }
    
}

@page {
    @bottom-center {
        content: counter(page);	
    }
}
