
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-image: linear-gradient(to bottom right, #fff, #eee);
    background-size: cover;

    min-height: 100vh; /* ugly when it doesnt stretch fully */
    padding-top: 1rem;
}

@media screen and (max-width: 650px) {
    body {
        padding: 0;
    }
}

.main {
    box-shadow: 3px 2px 11px 5px #ccc8;
    padding: 1em 2rem;
    background-color: #fff;
    
    margin: 0 auto;
    max-width: 40em;
}

.main h1 {
    text-align: center;
}

h3 {
    margin: 1em 0;
}

.sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-auto-flow: row dense;
}
.section {
    margin: 1rem;
}
.section:nth-child(1) {
    grid-row: span 1;
}
.section:nth-child(2) {
    grid-row: span 2;
}
.section:nth-child(3) {
    grid-row: span 2;
}
.section:nth-child(4) {
    grid-row: span 1;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: rgb(91, 78, 172);
}

li::marker {
    content: "⇒ ";
    font-size: 1.2em;
}

hr {
    margin: 3px 0;
}