
body {
  padding-top: 75px;
  font-size: 17px;
  color: #fdf;
}

/* default SVG maximum height */
object[type="image/svg+xml"] {
  max-height: 300px;
  width: 100%;
}

.pages-tree ul { 
  list-style: none;
}

.pages-tree > ul > li > a {
  font-weight: bold;
}

/* prismjs sets 0.3em and then we get unnecessary horizontal slider. This fixes it. */
pre[class*="language-"] {
  border-width: 0.3rem !important;
}